OPENAI_API_KEY=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

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
