ALTER TABLE crawled_data DROP CONSTRAINT IF EXISTS crawled_data_created_by_fkey; ALTER TABLE crawled_data ADD CONSTRAINT crawled_data_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth.users(id);
